[Unit]
Description=Ubuntu Bluetooth Keyboard Emulator
Requires=ubke-bluetooth
After=ubke-bluetooth

[Service]
Type=simple
# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=-/etc/sysconfig/ubke
ExecStart=/usr/bin/ubke-launch.sh ${UBKE_KB_NAME} ${UBKE_KB_ADDR}

[Install]
WantedBy=multi-user.target
